.pitfalls {
	background: $orange;
	color: #fff;	
}

.community {
	background: $light-grey;
}

section div {
	max-width: 64em;
	margin: 3% auto;
	padding: 1em 0;
}

.distribute figure{
	display: inline-block;
	float: none;
	margin: auto;
}