.pitfalls {
	background: $charcoal;
	color: $white;
}

.pitfalls-content h1.section-title {
	width: 50%
}

.community {
	background: $light-grey;
	clear: both;
}

section div {
	max-width: 64em;
	margin: 3% auto;
	padding: 1em 0;
}

.wholesale,
.retail {
	float: right;
	width: 50%;
}

.distribute figure{
	display: inline-block;
	float: none;
	margin: auto;
}

div.distribute-content {
	text-align: center;
}