$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgba(213, 120, 0, 1);
$color__link-visited: rgba(213, 120, 0, .5);
$color__link-hover: rgba(213, 120, 0, .7);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$light-grey: rgba(240, 240, 240, 1);
$charcoal: rgba(45, 45, 45, 1);
$grey: rgba(84, 88, 90, 1);
$teal: rgba(0, 156, 166, 1);
$green: rgba(148, 147, 0, 1);
$orange: rgba(213, 120, 0, 1);
$red: rgba(185, 71, 0, 1);
$yellow: rgba(193, 160, 30, 1);    
$white: rgba(255, 255, 255, 1);
